extends layout

block content
  .row.justify-content-center.inner-container
    .col-sm-4.widget.message-card
      h1.device-title = message
      a(href = "/").thankyou(type='submit') Continue to dash
