doctype html
html
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  head
    title= Homeºπ
    link(rel='styelsheet', href='https://fonts.googleapis.com/css?family=Montserrat')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    nav
      h1.header
        | Home
        span ºπ
    block content
